#version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: biblioteca_db
    restart: always
    environment:
      MYSQL_DATABASE: ramon_ruiz_polanco_v2
      MYSQL_USER: Espinoza
      MYSQL_PASSWORD: luisjose123
      MYSQL_ROOT_PASSWORD: root_password_segura
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: biblioteca_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  mysql_data: