{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="auth-wrapper">
    <div class="glass-card">
        
        <div class="header-text">

            <div class="welcome-text">Bienvenido a la Biblioteca</div>
            
            <!-- LOGO -->
            <img src="{% static 'img/logo_rrp.png' %}" alt="Logo RRP" class="logo-img">
            
            <!-- SUBTÍTULO -->
            <div class="sub-header">Ramón Ruíz Polanco</div>
        </div>

        <form method="post">
            {% csrf_token %}
            
            {% if form.errors %}
                <div style="background: rgba(254, 226, 226, 0.9); color: #b91c1c; padding: 10px; border-radius: 15px; margin-bottom: 20px; text-align: center; font-size: 0.9rem;">
                    <i class="fas fa-exclamation-circle"></i> Credenciales incorrectas
                </div>
            {% endif %}

            <div class="form-row">
                <label class="form-label">Usuario</label>
                <div class="input-wrapper">
                    <i class="fas fa-user input-icon"></i>
                    <input type="text" name="username" class="custom-input" placeholder="Nombre de usuario" required>
                </div>
            </div>

            <div class="form-row">
                <label class="form-label">Contraseña</label>
                <div class="input-wrapper">
                    <i class="fas fa-lock input-icon"></i>
                    <input type="password" name="password" class="custom-input" placeholder="Tu contraseña" required>
                    <a href="{% url 'reset_password' %}" class="forgot-link">¿Olvidaste tu contraseña?</a>
                </div>
            </div>

            <div class="form-row">
                <label class="form-label"></label> 
                <div class="input-wrapper">
                    <button type="submit" class="btn-submit">
                        INICIAR SESIÓN
                    </button>
                </div>
            </div>

        </form>

        <div style="margin-top: 30px; font-size: 0.9rem; color: #4b5563;">
            ¿No tienes cuenta? 
            <a href="{% url 'registro' %}" style="color: #f59e0b; font-weight: 800; text-decoration: none;">
                Regístrate aquí
            </a>
        </div>
    </div>
</div>
{% endblock %}